{% extends 'base.html.twig' %}

{% block organizer_menu %}
    <button class="btn-xs btn-success" onclick="location.href = '{{ path('competition_new') }}'">Ajouter une
        compétition
    </button>
{% endblock %}


{% block body %}

    {{ 0|loader }}

    <button class="btn-xs btn-primary pull-right" id="competition-list-button" value="passed">
        Compétitions passées
    </button>

    <h4 id="competition-list-title">Compétitions à venir</h4>

    <div id="future-competition">
        {% for competition in competitions.future %}
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
                {% include 'competition/modelList.twig' %}
            </div>
        {% endfor %}
    </div>

    <div id="passed-competition">
        <h4 id="competition-list-title-passed">Compétitions passées</h4>

        {% for competition in competitions.passed %}
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
                {% include 'competition/modelList.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if is_granted('ROLE_ORGANIZER') %}
        organizerResponsive();
        {% endif %}
        competitionShowList();
    </script>

{% endblock %}