{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        .date-time-panel span {
            display: block;
            text-align: center;
            font-size: larger;
        }

        .location-panel span {
            display: block;
            text-align: center;
            font-size: larger;
        }

        .race-panel .panel-body .competition span {
            font-size: larger;
        }

        .race-panel .panel-body .organizer {
            font-size: smaller;
            text-align: right;
        }

        .race-title span {
            display: inline;
            font-weight: bolder;
            font-size: larger;

        }

        .race-title img {
            max-height: 1.5em;

        }

        .race-organizer {
            margin-bottom: 2em;
        }

        .race-distance {
            display: block;
            text-align: center;
            font-weight: bolder;
            font-size: larger;
            margin-top: 0.5em;
        }

        .row-ranck {
            text-align: center;
        }

        .profile-href {
            cursor: zoom-in;
            color: #1b6d85;
        }

        #tables {
            min-height: 10em;
        }

        #admin-race-categories button {
            margin-bottom: 1em;
        }


    </style>

{% endblock %}

{% block title %}
    {{ parent() }} test
{% endblock %}

{% block body %}


    <div class="race-show row">
        <!--panels-->
        <div class="row">
            <!--race panel-->
            <div class="col-xs-4">
                <div class="panel panel-primary race-panel">
                    <div class="panel-heading race-title">
                        <span id="admin-race-name" class="panel-title"></span>
                    </div>
                    <div class="panel-body row">
                        <div class="col-xs-8 competition ">
                            <a div="admin-race-competition-id" href='#'><span
                                        class="glyphicon glyphicon-circle-arrow-left"></span></a>
                            <span id="admin-race-competition-name"></span>
                            <div id="admin-race-competition-organizer" class="organizer"></div>
                        </div>
                        <div class="col-xs-4">
                            <span id="admin-race-distance" class="race-distance"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!--datetime panel-->
            <div class="col-xs-4">
                <div class="panel panel-primary date-time-panel">
                    <div class="panel-heading "><span class="glyphicon glyphicon-time"></span></div>
                    <div class="panel-body">
                        <span id="admin-race-day" class="date-day"></span>
                        <span id="admin-race-hour" class="date-hour"></span>
                    </div>
                </div>
            </div>

            <!--location panel-->
            <div class="col-xs-4">
                <div class="panel panel-primary location-panel">
                    <div class="panel-heading"><span class="glyphicon glyphicon-map-marker"></span></div>
                    <div class="panel-body race-location">
                        <span id="admin-race-address"></span>
                        <span id="admin-race-city"></span>
                    </div>
                </div>
            </div>

        </div>
        <!--buttons categories-->
        <div id="admin-race-categories" class="row"></div>
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script>

            raceShow(2);

            function raceShow(race) {
                var path = Routing.generate('race_json', {
                    race: race
                });

                $.ajax({
                    url: path,
                    success: function (data) {
                        hydrate(data);
                    },
                    error: function () {
                        ajaxError();
                    }
                });
            }

            function hydrate(data) {
                var date = data.race.dateTime.replace(/\-|\:/g, ' ');
                var date = date.split(" ");

                var date = new Date(Date.UTC(date[0], date[1], date[2], date[3] - 2, date[4], date[5]));

                $('#admin-race-name').text(data.race.name);
                $('#admin-race-competition-id').attr('href', data.race.organizerId);
                $('#admin-race-competition-organizer').text('Orga : ' + data.race.competitionName);
                $('#admin-race-competition-name').text(data.race.competitionName);
                $('#admin-race-distance').text(data.race.distance + ' Km');
                $('#admin-race-day').text(date.toLocaleDateString('fr-FR', {
                    weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'
                }));
                $('#admin-race-hour').text(('0' + date.getHours()).slice(-2) + ' : ' + ('0' + date.getMinutes()).slice(-2));
                $('#admin-race-address').text(data.race.street);
                $('#admin-race-city').text(data.race.postCode + ' ' + data.race.city);

                $.each(data.categories, function (index, value) {
                    $('#admin-race-categories').append(" <div class='col-xs-3 col-lg-2'><button class='btn-xs btn-info col-xs-12' disabled>" + value.name + "</button> </div>");
                });
            }
        </script>

    {% endblock %}
