{% block stylesheets %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>

    <style>
        .isChampionship {
            width: 10em;
            height: 4em;
        }

        .inChampionship {
            white-space: nowrap; /* this is required unless you put the helper span closely near the img */
            text-align: center;
            overflow: visible;
            /*background: #ffffff url('https://image.flaticon.com/icons/svg/291/291201.svg') no-repeat center center;*/
            background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXi35igLJx_E5h8IZ032FB1XSldp8d6h4iVUm9BXWI8Mi7O17Hcg') no-repeat center center;
            background-size: 25%;
        }
    </style>
{% endblock %}

{% block organizer_menu %}
    {#
    {% if isOrganizer == true %}
        {% if race.enrol == true %}
            <input type="button" class="btn-xs btn-success" value="Clore les inscriptions"
                   onclick="location.href = '{{ path('race_enrol_closed', {'id':race.id} ) }}';">

            <input type="button" class="btn-xs btn-success" value="Simuler inscription"
                   onclick="location.href = '{{ path('race_simulateEnrol', {'id':race.id} ) }}';">
        {% endif %}

        {% if race.enrol == false %}
            <input type="button" class="btn-xs btn-success" value="Importer les temps de courses"
                   onclick="location.href = '{{ path('race_competitorsTimes', {'id':race.id} ) }}';">
        {% endif %}
    {% endif %}
    #}

{% endblock %}

{% block body %}

    <h2 style="text-align: center"><span class="competition"></span> / <span class="race_name"></span></h2>
    <div>Organisateur : <span class="organizer"></span></div>

    <div style="margin-top: 2em">
        <div class="row" style="text-align: center">
            <div class="col-xs-6 date" style="font-size: 20px">
                <div class="date-day"></div>
                <div class="date-hour"></div>
            </div>

            <div class="col-xs-4" style="font-size: 20px"><span class="distance"></span> Km</div>

            <div class="col-xs-2 isChampionship"></div>
        </div>

        <div class="row" style="margin-top: 1em">
            <div class="col-xs-3 location" style="font-size: 18px">
                <div class="adress"></div>
                <div class="city"></div>
            </div>
            <div id="mapId" class="col-xs-4"></div>

            <div class="col-xs-5">
                <ul class="col-xs-6 categories1"></ul>
                <ul class="col-xs-6 categories2"></ul>
            </div>
        </div>
    </div>




{% endblock %}

   {% block javascripts %}

       <script>
           function raceShow(race) {
               $.ajax({
                   url: "{{ path('race_json') }}",
                   data: {race: race},
                   success: function (data) {
                       hydrate(data);
                   }
               });

               function hydrate(data) {
                   var date = data.race.dateTime.replace(/\-|\:/g, ' ');
                   var date = date.split(" ");

                   var date = new Date(Date.UTC(date[0], date[1], date[2], date[3] - 2, date[4], date[5]));

                   $('.race_name').text(data.race.name);
                   $('.organizer').text(data.race.organizerName);
                   $('.competition').text(data.race.competitionName);
                   $('.distance').text(data.race.distance);
                   $('.date-day').text(date.toLocaleDateString('fr-FR', {
                       weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'
                   }));
                   $('.date-hour').text(('0' + date.getHours()).slice(-2) + ' : ' + ('0' + date.getMinutes()).slice(-2));
                   $('.adress').text(data.race.street);
                   $('.city').text(data.race.postCode + ' ' + data.race.city);

                   if (data.race.inChampionship == true) {
                       $('.isChampionship').addClass('inChampionship');
                   }

                   $('.categories1').empty();
                   $('.categories2').empty();
                   var i = 0;
                   $.each(data.categories, function (index, value) {
                       if(i<5){
                           $('.categories1').append("<li>" + value.name + "</li>");
                       }else {
                           $('.categories2').append("<li>" + value.name + "</li>");
                       }
                       i++;
                   });

                   loaderDivStop(divToLoad);
                   loaderStop();

               }
           }

       </script>


   {% endblock %}
