{% extends 'searchLayout.html.twig' %}

{% block search_content %}

    {{ 0|loader }}

    <div id="search-bar-xs" class="row visible-xs">

        <button type="button" id="button-search-xs" class="btn btn-success btn-sm col-xs-12">Rechercher courses</button>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% if races|length == 0 %}
                <h3 style="text-align: center">Aucune course trouvée</h3>
            {% endif %}
            {% for race in races %}
                <div class="col-xs-12 races-container">
                    {{ include('race/modelList.html.twig') }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4 visible-md visible-lg">
            <!--INFOS -->
            {% include 'actu/show.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        showSearch();

        function showSearch() {
            var $searchBar = $('#search-bar');
            var $searchBarXs = $('#search-bar-xs');
            var $searchButtonXs = $('#button-search-xs');
            var $searchButton = $('#button-search');

            searchBarWidth();

            $(window).resize(function () {
                searchBarWidth();
            });

            function searchBarWidth() {
                var width = $(window).width();

                if (width <= 751) {
                    $searchButtonXs.before($searchBar);
                    $searchBar.css('margin-top', '0em');

                    if (width > 650)
                        $searchBarXs.css('padding', '0em 15em 0em 15em');

                    if (width < 650 && width > 500)
                        $searchBarXs.css('padding', '0em 10em 0em 10em');

                    if (width < 500 && width > 375)
                        $searchBarXs.css('padding', '0em 5em 0em 5em');

                    if (width < 375)
                        $searchBarXs.css('padding', '0em 0.5em 0em 0.5em');
                }
                else {
                    $searchButton.after($searchBar);
                    $searchBar.css('margin-top', '16em');
                }

                loaderStop();
            }
        }


    </script>

{% endblock %}