{#TO DO
- loader => raceShow
#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap.min.css"/>

    <style>
        #example span {
            display: none;
        }

        #example .championship {
            white-space: nowrap; /* this is required unless you put the helper span closely near the img */
            text-align: center;
            overflow: visible;
            /*background: #ffffff url('https://image.flaticon.com/icons/svg/291/291201.svg') no-repeat center center;*/
            background: url('http://robwilson.tv/wordpress/wp-content/uploads/2008/12/Question-mark.png') no-repeat center center;
            background-size: 25%;
        }
    </style>


{% endblock %}

{% block title %}
    {{ parent() }} {{ race.competition.name }}
{% endblock %}

{% block body %}

    <div class="race-show">
        <div class="buttons">
            <button type="button" class="btn btn-dark next glyphicon glyphicon-chevron-left"></button>
            <button type="button" class="btn btn-dark prev glyphicon glyphicon-chevron-right"></button>
        </div>

        {% include '/race/modelShow.html.twig' %}
    </div>

{% endblock %}
 {% block javascripts %}

     <script>
         //initialize///////////////////////////////////////////////////////////////////////////////////////
         var race = {{ race.id }};
         console.log(race);
         raceShow(race);

         //Event///////////////////////////////////////////////////////////////////////////////////////
         $('.prev').click(function () {
         });

         $('.next').click(function () {
         });
     </script>



 {% endblock %}
