{% extends 'searchLayout.html.twig' %}

{% block search_content %}
    <div id="search-bar-xs" class="row visible-xs">

        <button type="button" id="button-search-xs" class="btn btn-success btn-sm col-xs-12">Rechercher courses</button>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% if races|length == 0 %}
                <h3 style="text-align: center">Aucune course trouvée</h3>
            {% endif %}
            {% for race in races %}
                <div class="col-xs-12 races-container">
                    {{ include('race/modelList.html.twig') }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4 visible-md visible-lg">
            <!--INFOS -->
            {% include 'actu/show.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        showSearch();
    </script>

{% endblock %}