{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        #uneDiv {
            height: 20em;
            width: 20em;
            background-color: #a94442;
        }


    </style>

{% endblock %}

{% block title %}
    {{ parent() }} test
{% endblock %}

{% block body %}


    <div id="loader-div"></div>
    <div id="uneDiv"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

$(function () {

    var uneDiv = $('#uneDiv');

    loaderDivStart(uneDiv);

    var request = {idRace: 1, category: 1};
    $.ajax({
        url: "{{ path('race_Table') }}",
        data: request,
        success: function (result) {
            console.log('héééé');
            loaderDivStop(uneDiv)
        }
    });

});

    </script>

{% endblock %}
