{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        #page-1 {
            height: 200em;
            width: 20em;
            background-color: #a94442;
        }

        #page-2 {
            height: 200em;
            width: 20em;
            background-color: #49a92b;
        }

    </style>

{% endblock %}

{% block title %}
    {{ parent() }} test
{% endblock %}

{% block body %}


    <ul class="menu">
        <li><a class="js-scrollTo" href="#page-1">Page1</a></li>
        <li><a class="js-scrollTo" href="#page-2">Page 2</a></li>
    </ul>


    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="page-1">
        <!-- Contenu Page 1 -->
    </div><!-- /page-1 -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div id="page-2">
        <!-- Contenu Page 2 -->
    </div><!-- /page-2 -->

    <ul class="menu">
        <li><a class="js-scrollTo" href="#page-1">Page1</a></li>
        <li><a class="js-scrollTo" href="#page-2">Page 2</a></li>
    </ul>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

$(function () {

    var container = $('#page-2');

    $('.js-scrollTo').on('click', function() { // Au clic sur un élément
        $('html, body').animate( { scrollTop: $(container).offset().top }, 750 ); // Go
        return false;
    });

});

    </script>

{% endblock %}
