{#
TO DO
    LOCATION FORM
    *suivant touche entrer
    *faire api a part pour renvoyer ville par département ou json => permet de mettre fichier Json a part
        actuellement impossible a cause asset
    *différencier label value

    GENERAL
    *Bouton validé actif que si tout les champs sont ok
    *pop-up votre compétition à bien été enregistrée
#}


{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="{{ asset('tools/tools.css') }}"/>
    <link rel="stylesheet" href="{{ asset('locationForm/locationForm.css') }}"/>
{% endblock %}

{% block body %}
    <div class="row">
        <div id="location_alert" class="alert alert-warning" role="alert" style="display: none"></div>
        <div class="loader-div col-xs-offset-1 col-xs-6"></div>

        <div id="location_form" class="col-xs-offset-1 col-xs-6">
            <div class="form-group">
                <label id="location_label"></label>
                <input id="location_input" class="form-control">
            </div>

            <button class="next_step_btn col-xs-2  btn btn-primary btn-sm"
                    onclick="nextStep(this.value)">Suivant
            </button>
        </div>

        <div id="location_show" class="col-xs-5"></div>
    </div>
{% endblock %}


