<div class="row">
    <div class="col-md-offset-1 col-md-4 col-sm-6">
        <div class="date-show col-xs-12"></div>
        <div class="time-input">
            <div class="test col-xs-5 form-group has-feedback">
                <div class="input-group ">
                    <input class="form-control" type="number" min="0" max="23"  maxlength="2" data-error="Heure [0-23]" id="time-hour" required>
                </div>
                <div class="help-block with-errors">Heure [0-23]</div>
            </div>
            <div class="col-xs-2 separator">:</div>
            <div class="test col-xs-5 form-group has-feedback">
                <div class="input-group">
                    <input class="form-control" type="number" min="0" max="59"  maxlength="2" data-error="Minutes [0-59]" id="time-minute" required>
                </div>
                <div class="help-block with-errors">Minutes [0-59]</div>
            </div>
        </div>

    </div>

    <div class="col-sm-offset-1 col-md-4 col-sm-5 col-xs-offset-2">
        <div id="datepicker"></div>
        <input type="hidden" id="my_hidden_input">
    </div>
</div>

