#container-base{
    margin-top: 1em;
}

hr{
    margin: 0;
}

/***********************************************--PAGES--**************************************************************/

/*home/index.html.twig***********************************/
    @media (max-width: 500px){
    #index h2{
        font-size: 1.5em;
    }
}

/*race/show.html.twig************************************/
    /*categories**/
    #categories-button button {
        width: 11em;
        margin-bottom: 1em;
        /*margin: 0em 1em 1em 0em;*/
    }

    #categories-list .btn-general {
        font-size: 1.1em;
        margin: 0em;
        padding: 0em;
    }

    #categories-list .panel-heading{
        padding: 0.1em 0em 0.1em 0em;
        text-align: center;
    }

    #categories-list .list-group-item {
        padding: 0em 1em 0em 1em;
    }

    #categories-list .panel-group {
        margin: 0em;
        padding: 0em 0.5em 0em 0.5em;
    }


    @media (max-width: 435px) {
        #categories-button{
            display: none;
        }

        #categories-list{
            display: block;
        }
    }

    @media (min-width: 435px) {
        #categories-button{
            display: block;
        }

        #categories-list{
            display: none;
        }
    }



/**admin/races.html.twig*******************************************************************/
    #admin-race-categories button {
        margin-bottom: 1em;
    }



/***********************************************--TABLES--*************************************************************/
.row-rank {
    text-align: center;
}

.table-href{
    cursor: zoom-in;
    color: #1b6d85;
}
/*== model table============================= */
/********************************************
/    use in :
/    show/race.html.twig
/    show/championship.html.twig
/*******************************************/
.table-model{
    padding-top: 1em;
}

/**admin/races.html.twig************/
#admin-races-table .stringDate {
    visibility: hidden;
}

#admin-races-table img{
    height: 1.5em;
}

#admin-races-table .distance{
    text-align: center;
}


/***********************************************--ACTU--***************************************************************/
.info-img {
    max-width: 8em;
    max-height: 8em;
}

.info-content {
    background: #edeff0;
    max-height: 230px;
}

div#fade-content {
    max-height: 230px;
    overflow: hidden;
}

.fade-anchor {
    background: -webkit-linear-gradient(top, rgba(237, 239, 240, 0), rgba(237, 239, 240, 0) 170px, #edeff0 200px);
    background: linear-gradient(to bottom, rgba(237, 239, 240, 0), rgba(237, 239, 240, 0) 170px, #edeff0 200px);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 230px;
    padding-top: 200px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    -webkit-transition: background 150ms ease-in;
    transition: background 150ms ease-in;
}

#fade-content p {
    max-height: 200px;
}

/***********************************************--MODAL--**************************************************************/
.modal-title {
    font-weight: bold;
    font-size: 0.9em;
    padding-bottom: 1em;
    text-align: center;
}

/***********************************************--PANEL--**************************************************************/
/**all panel*****************************/
@media (max-width: 500px){
    .panel-header-img img {
        height: 1.5em;
        padding: 0.2em;
        background: #FFFFFF;
        border-radius: 50%;
    }
}

@media (min-width: 500px){
    .panel-header-img img {
        height: 2em;
        padding: 0.2em;
        background: #FFFFFF;
        border-radius: 50%;
    }
}

.panels-container{
    padding: 0em;
}

.panel-heading {
    border-bottom: 0px;
}

.panel-footer-img img {
    height: 1.8em;
}

    /*== model-panel============================= */
    /********************************************
    /    use in :
    /    competition/modelList.html.twig
    /    race/modelList.html.twig
    /*******************************************/
    .simplebar-content {
        overflow-x: hidden;
    }

    .panel-model .location {
        text-align: center;
        padding-top: 0.2em;
        border-radius: 12px 12px 12px 12px;
        -moz-border-radius: 12px 12px 12px 12px;
        -webkit-border-radius: 12px 12px 12px 12px;
    }

    .panel-model .map-link img {
        height: 1.5em;
    }

    @media (max-width: 500px) {
        .race-container, .competition-container{
            padding: 0em;
        }

        .panel-model .panel-body {
            padding: 0.5em 0.1em 0.1em 0.1em;
        }

        .panel-model .panel-body * {
            padding-right: 0.1em;
            padding-left: 0.1em;
        }

        .panel-model .panel-heading{
            padding-left: 0.3em;
            padding-right: 0.3em;
        }

        .panel-model .panel-title{
            font-size: 1em;
        }

        .panel-show .location-panel span {
            display: block;
            text-align: center;
            font-size: larger;
            font-size: 0.8em;
        }

        .panel-model .date {
            text-align: center;
            font-weight: bold;
        }

        .panel-model .nbRace {
            text-align: center;
            font-weight: bold;
            padding-top: 0.2em;

        }

        .panel-model .category-all {
            padding-top: 1.5em;
            font-weight: bold;
            font-size: 0.9em;
            text-align: center;
        }

        .panel-model .categories {
            font-size: 0.8em;
        }

        .panel-model .categories .glyphicon {
            color: #636363;
            font-size: 0.6em;
            top: -0.2em;
        }

        .panel-model .organizer {
            padding-top: 0.2em;
            font-weight: lighter;
            font-size: 0.8em;
            opacity: 0.5;
        }

        .panel-model .competition-link {
            padding-top: 0.3em;
            color: #b5d7a5;
            line-height: 0.9em;
        }

        .panel-model .panel-footer{
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }
    }

    @media (min-width: 500px) {
        .panel-model .panel-body {
            padding-bottom: 0.1em;
        }

        .panel-model .date {
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
        }

        .panel-model .nbRace {
            text-align: center;
            font-weight: bold;
            padding-top: 0.8em;
        }

        .panel-model .category-all {
            font-weight: bold;
            padding-top: 1.5em;
        }

        .panel-model .categories .glyphicon {
            color: #636363;
            font-size: 0.6em;
            top: -0.2em;
        }

        .panel-model .organizer {
            font-weight: lighter;
            font-size: 0.9em;
            padding-top: 0.8em;
            padding-left: 0.2em;
        }

        .panel-model .competition-link {
            padding-top: 0.9em;
            padding-left: 0em;
            color: #b5d7a5;
            line-height: 0.9em;
        }
    }

        /**model-panel-race**/
        /********************************************
        /    use in :
        /    race/modelList.html.twig
        /*******************************************/
        @media (max-width: 500px){
            .panel-model .distance {
                font-size: 0.9em;
                border-radius: 25px;
                background: #FFFFFF;
                padding: 0.3em 0.2em 0.2em 0.2em;
                height: 2em;
                font-weight: bold;
                color: #2e6da4;
            }
        }

        @media (min-width: 500px){
            .panel-model .distance {
                border-radius: 25px;
                background: #FFFFFF;
                padding: 0.2em;
                height: 2em;
                font-weight: bold;
                color: #2e6da4;
            }

            .panel-model-race .categories {
                padding-top: 0.5em;
                overflow: hidden;
                width: 100%;
            }
        }

        .panel-model .competition-link .glyphicon {
            color: #b5d7a5;
        }

        .panel-model-race .location {
            border: 2px solid rgba(51, 122, 183, 0.4);;
            background: rgba(51, 122, 183, 0.1);
        }

        /**model-panel-competition**/
        /********************************************
        /    use in :
        /    competition/modelList.html.twig
        /*******************************************/
        .panel-model-competition .location {
            border: 2px solid #dff0d8;
            background: rgba(223, 240, 216, 0.5)
        }


    /* == show-panel ========================== */
    /********************************************
    /    use in :
    /    competition/show.html.twig
    /    race/show.html.twig
    /    admin/races.html.twig
    /*******************************************/
    @media (max-width: 350px){

        .panel-show .panel-heading {
            padding: 0.5em 0em 0.5em 0em;
        }

        .panel-show .panel-body {
            padding: 0.1em;
            font-size: 0.8em;
        }

        .panel-show .date-time-panel span {
            display: block;
            text-align: center;
            font-size: larger;
        }

        .panel-show .location-panel span {
            display: block;
            text-align: center;
            font-size: larger;
        }

        .panel-show .title {
            display: inline;
            font-weight: bolder;
            font-size: larger;
            padding-left: 0.2em;
        }

        .panel-show .first-panel .title{
            font-size: 1em;
        }

        .panel-show .first-panel .panel-body {
            padding: 0.5em 0em 0.5em 0.5em
        }

        .panel-show .first-panel .competition span {
            font-size: larger;
        }

        .panel-show .first-panel .organizer {
            display: block;
            font-weight: lighter;
            padding-top: 0.7em;
        }

        .panel-show .first-panel .distance {
            display: block;
            text-align: center;
            font-weight: bolder;
            font-size: larger;
        }

        .panel-show .first-panel .nb-race {
            display: block;
            text-align: center;
            font-weight: bolder;
            font-size: larger;
        }

        .panel-show .map-link img {
            height: 1.8em;
            margin-top: 0.6em;
        }
    }

    @media (min-width: 350px){
        .panel-show .panel-body {
            min-height: 5em;
            padding-bottom: 0.1em;
        }

        .panel-show .panel-heading {
            min-height: 3em;
            padding-bottom: 0.1em;
        }

        .panel-show .date-time-panel span {
            display: block;
            text-align: center;
            font-size: larger;
        }

        .panel-show .location-panel span {
            display: block;
            text-align: center;
            font-size: larger;
        }

        .panel-show .title {
            display: inline;
            font-weight: bolder;
            font-size: larger;
        }

        .panel-show .first-panel .panel-body {
            padding-bottom: 0em;
        }

        .panel-show .first-panel .competition span {
            font-size: larger;
        }

        .panel-show .first-panel .organizer {
            display: block;
            font-weight: lighter;
            padding-top: 0.8em;
        }

        .panel-show .first-panel .distance {
            display: block;
            text-align: center;
            font-weight: bolder;
            font-size: larger;
        }

        .panel-show .first-panel .nb-race {
            display: block;
            text-align: center;
            font-weight: bolder;
            font-size: larger;
        }

        .panel-show .map-link img {
            height: 1.8em;
            margin-top: 2em;
        }
    }

/**competitor/show.html.twig************/
@media (min-width: 992px ) {
    .cs-stat {
        margin-top: 1em;
    }
}

.cs-user {
    margin-top: 1em;
    margin-bottom: 1em;
}

.cs-panel {
    margin-bottom: 1em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    padding: 1em 1em 1em 1em;
}

#competitor-show img {
    max-height: 5em;
}

.cs-label span{
   /* display: inline-block;*/
    padding-left: 0.5em;
    padding-right: 1.5em;
}

.cs-panel-category .cs-label {
    width: 6.5em;
}

.cs-panel-category span, .cs-panel-all span {
    font-weight: bold;
    font-size: 0.9em;
}

#competitor-show .user {
    text-align: center;
    font-weight: bold;
}

.cs-races {
    margin-top: 2em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
}

.cs-title {
    font-weight: bolder;
    font-size: 2em;
}

.cs-stat span {
    margin-bottom: 1em;
    padding: 0.2em 1em 0.1em 1em;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #5eb5e0;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

/***********************************************--NAV BAR--************************************************************/
#navbar-general {
    z-index: 2;
}

#navbar-general .dropdown-menu {
    z-index: 9999;
}

#navbar-general .badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

#navbar-general .badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#navbar-general .badge-warning {
    background-color: #a91c1f;
}

#navbar-general .badge-warning:hover {
    background-color: #c6504b;
}

#navbar-general .badge-success {
    background-color: #468847;
}

#navbar-general .badge-success:hover {
    background-color: #356635;
}

#navbar-general .title {
    color: #3845ff;
    margin-left: 0.5em;
}

#navbar-general hr {
    margin: 0em;
}

#user-bar{
    width: 100%;
    background-color: #f3f3f3;
    padding-left: 2em;
    padding-right: 1em;
    z-index: 5;
}

#user-bar *{
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

#user-bar .next-race{
    cursor: pointer;
    color: #286090;
}

@media (max-width: 768px){
    #user-bar .organizer-content{
        display: none;
    }
}

.fixed{
    position:fixed; top:0; left:0;
}

#navbar-general{
    margin-bottom: 0em;
}

/***********************************************--SEARCH BAR--*********************************************************/
#search-bar .panel-heading {
    height: 1.5em;
    padding: 0em;
}

#search-bar .panel-title .glyphicon {
    margin: 0.2em 1em 0em 1em;
}

#search-bar .no-padding > [class*='col-'] {
    max-height: 1em;
}

#search-bar .switchContainer {
    padding-top: 0.2em;
}

#search-bar .panel-heading {
    height: 1.5em;
    padding: 0em;
}

#search-bar .dep-container {
    padding: 1em 0em 0em 0.5em;
}

#search-bar .cb-heading {
    z-index: 100;
}

#search-bar .panel-group {
    margin-bottom: 1em;
}

/***********************************************--LOADER--*************************************************************/
#full-page {
    height: 90vh;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 999;
    overflow: visible;
    left: 0;
    top: 4em;
}

#loader-full {
    height: 55vh; /* equals max image height */
    width: 100%;
    white-space: nowrap; /* this is required unless you put the helper span closely near the img */
    text-align: center;
    margin: 1em 0;
    z-index: 999;
    overflow: visible;
    background: #ffffff url('https://loading.io/spinners/fidget-spinner/lg.fidget-spinner.gif') no-repeat center center;
    background-size: 20%;
}

#loader-div {
    height: 55vh; /* equals max image height */
    width: 100%;
    white-space: nowrap; /* this is required unless you put the helper span closely near the img */
    text-align: center;
    margin: 1em 0;
    z-index: 998;
    overflow: visible;
    background: #ffffff url('https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif') no-repeat center center;
    background-size: 65%;
    display: none;
}

/***********************************************--LocationForm plug-in--***********************************************/
/*autocomplete */
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/*map */
#location-map {
    height: 180px;
    margin-bottom: 1em;
}

/***********************************************--ocmDateTime plug-in--************************************************/
#ocm-dt-time, .time-input .n2 {
    padding: 0 !important;
    margin: 2em 0 1em 0 !important;
}

#ocm-dt-time input {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

#ocm-dt-time .separator {
    height: 100%;
    width: 100%;
    font-size: 30px;
    margin-top: -0.2em;
    display: block;
}

#ocm-dt-date-show {
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
}

#ocm-dt-time .calendar-show {
    width: 200px;
    margin: auto;
}