#panel-race-list .panel-categories {
    height: 6em;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}

#panel-race-list #panel-race-list {
    padding-bottom: 0em;
    padding-top: 0.5em;
}

#panel-race-list .category {
    height: 6em;
    padding-top: 2em;
    font-weight: bold;
}

.panel-heading img {
    height: 2em;
}

.panel-footer img {
    height: 2em;
}

@media (max-width: 400px) {
    #panel-race-list .panel-body {
        padding: 0 0 0 0px;
    }
}

#panel-race-list h4 .panel-body {
    text-align: center;
    font-weight: bold;
}