{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block body %}

    <h1>Home</h1>

    <input type="button" class="btn btn-info" value="Deconnection"
           onclick="location.href = '{{ path('fos_user_security_logout') }}';">

    <input type="button" class="btn btn-info" value="Créer competiteur"
           onclick="location.href = '{{ path('redirectBeforeRegister',{'toCreate':'competitor'}) }}';">

    <input type="button" class="btn btn-info" value="Créer organisateur"
           onclick="location.href = '{{ path('redirectBeforeRegister',{'toCreate':'organizer'}) }}';">

    {% if not is_granted('ROLE_USER') %}
        <p>Pas user</p>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <p>user</p>
    {% endif %}

    {% if not is_granted('ROLE_COMPETITOR') %}
        <p>Pas competiteur</p>
    {% endif %}

    {% if is_granted('ROLE_COMPETITOR') %}
        <p>competiteur</p>
    {% endif %}
{% endblock %}