{% extends 'searchLayout.html.twig' %}

 {% block search_content %}
     <div id="index" class="col-md-8">
         <div class="row">
             <button class="btn-sm btn-link pull-right visible-xs" onclick="searchRaceAll()">Rechercher courses <span
                         class="glyphicon glyphicon-chevron-right"></span></button>
         </div>
         <div class="row">
             <h2 style="text-align: center">Prochaines compétitions</h2>
             {% for competition in competitions %}
                 {% include 'competition/modelList.twig' %}
             {% endfor %}
         </div>
         <div class="row">
             <button class="btn-sm btn-link pull-right" onclick="location.href = '{{ path('competition_show_all') }}'">
                 Toutes les compétitions <span class="glyphicon glyphicon-chevron-right"></span></button>
         </div>
     </div>
     <div class="col-md-4">
         <!--INFOS -->
         {% include 'actu/show.html.twig' %}
     </div>

 {% endblock %}