{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}


    <style>
        .test {
            background-color: #718C00;
            margin: 1em;

        }
    </style>

{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}



{% block body %}

    <div id="future-competition" class="col-xs-12">
        {% for competition in competitions.future %}
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6 competitions-container">
                {% include 'competition/modelList.twig' %}
            </div>
            {% if loop.index is even %}<br>{% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
        {{ parent() }}

        <script>

        </script>



    {% endblock %}

