{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

    <style>

         .n1 {
            height: 5em;
            padding: 0 !important;
            margin: 0 !important;
        }

         .calendar{
             height: 5em;
         }

        .time-input, .time-input .n2 {
            height: 3em;
            padding: 0 !important;
            margin: 0 !important;
        }

        .time-input input {
            height: 100%;
            width: 100%;
            text-align: center;
            font-size: 20px;
        }

        .time-input .separator {
            height: 100%;
            width: 100%;
            font-size: 30px;
        }

         .date-show{
             font-size: 20px;
             text-align: center;
         }


    </style>

{% endblock %}
    {% block body %}

        <input class="result">
        
        <div class="n1 col-xs-12">
            <div class="col-xs-12 col-sm-8">
                <div class="date-show" style="background-color: #21a926"><p>vendredi 11 janvier</p></div>
                <div class="col-xs-1" ></div>
                <div class="time-input  col-xs-10" style="background-color: #a94442">
                    <div class="n2 col-xs-5" >
                        <input class="time-hour"  type="number" min="0" max="23"  maxlength="2"  required>
                    </div>
                    <div class="n2 col-xs-1" ></div>
                    <div class="n2 col-xs-offset-1 col-xs-1 " ><span class="separator">:</span></div>
                    <div class="n2 col-xs-5" >
                        <input class="time-minute"  type="number" min="0" max="23"  maxlength="2"  required>
                    </div>
                </div>
            </div>
            <div  class=" col-xs-12 col-sm-offset-0 col-sm-4 calendar" style="background-color: #1411a9">
               <div class="calendar-show" id="datepicker"></div>
            </div>
        </div>
    {% endblock %}
            {% block javascripts %}
                {{ parent() }}

                <! datepicker***************************************************************************************************>
                <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
                <script src="{{ asset('datepicker/datepicker-fr.js') }}"></script>
                <script>
                    var dp = $('#datepicker');

                    dp.datepicker({
                        useCurrent: true,
                        language: 'fr',
                        format: 'yyyy-mm-dd',
                        startDate: "2018-02-02",
                        endDate: "2018-05-05"
                    });

                    dp.datepicker('update', "2018-02-02");

                    $('#time-hour').val('00');
                    $('#time-minute').val('00')


                    dateString();

                    dp.on('changeDate', function () {
                        dateString();
                        changeDateTime();
                    });

                    function dateString() {
                        $('.date-show').text(
                            dp.datepicker('getUTCDate').toLocaleDateString('fr-FR', {
                                    weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'
                                }
                            ));
                    }

                    $('.time-input input').change(function () {
                        changeDateTime();
                    });

                    function changeDateTime() {
                        var hour = $('.time-input .time-hour').val();
                        var minute = $('.time-input .time-minute').val();
                        var result = $('.result');

                        if ($.isNumeric(hour) && $.isNumeric(minute)) {
                            if (hour <= 23 && minute <= 59) {
                                result.val(dp.datepicker('getFormattedDate') + ' ' + hour + ':' + minute + ':00');
                            } else {
                                result.val('');
                            }
                        } else {
                            result.val('');
                        }
                        result.trigger('change');
                    }
                </script>
            {% endblock %}
