{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">


    <style>


        #truc{
            height: 6em;
            width: 4em;
            overflow: hidden;
        }

    </style>

{% endblock %}

{% block body %}


    <div id="truc" data-simplebar>
        <li>truc</li>
        <li>truc</li>

    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.js"></script>

{% endblock %}

