{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block stylesheets %}
    {{ parent() }}


    <style>
        .mycont {
            background-color: #a94442;
        }

        .inte {
            background-color: #2a6496;
            height: 20em;
            margin: 2em;
        }

        #laDiv {

        }

    </style>

{% endblock %}


{% block body %}

    {{ message }}

    <button class="leBouton">le bouton</button>

    <div class="col-xs-12 mycont">
        <div class="col-xs-7 inte">
            ssssssssssssssssss
        </div>
        <div class="loader-div col-xs-3 inte"></div>
        <div id="laDiv" class="col-xs-3 inte">
            ppppppppp
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script>

        loaderStart();

        var divToLoad = $('#laDiv');

        $('.leBouton').click(function () {
            loaderDivStop(divToLoad);
        });

        loaderDivStart(divToLoad);

    </script>

{% endblock %}

