{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}


    <style>

        .col-fixed, .row {
            float: left;
        }

        .col-fixed {
            background: #CCC;
            width: 300px;
            height: 20em;
        }

        .row {
            background: #EEE;
            width:calc(100% - 300px + 15px * 2);
        }

        .other{
            height: 200em;
        }

    </style>
{% endblock %}


{% block body %}

    <div class="container">
        <div class="col-fixed">
            .col-fixed
        </div>
        <div class="row">
            <div class="col-md-3 other">
                .col-md-3 other
            </div>
            <div class="col-md-3 other">
                .col-md-3 other
            </div>
            <div class="col-md-3 other">
                .col-md-3 other
            </div>
            <div class="col-md-3 other">
                .col-md-3 other
            </div>
        </div>
    </div>
    <div class="container">
        <h2>This fixed-fluid example works better</h2>
        <a href="http://www.codeply.com/go/3CfoaYfQdG" target="ext">http://www.codeply.com/go/3CfoaYfQdG</a>
    </div>

{% endblock %}


