<div id="race-form-categories">
    <label><input id="cbCategories-all" type="checkbox">Toutes catégories</label>
    <label><input id="cb-championship" type="checkbox">Proposer cette course en championat</label>
    <div style="margin-left: 1em; margin-right: 1em; " class="row">
        {% for key,gender in categories %}
            <fieldset class="col-xs-6 scheduler-border categories-fieldset">
                <legend class="scheduler-border">{{ key }}</legend>
                <div id="category-once" class="control-group">
                    {% for c in gender %}
                        <label><input  type="checkbox" value="{{ c.id }}">{{ c.name }}</label>
                    {% endfor %}
                </div>
            </fieldset>
        {% endfor %}
    </div>
</div>